.EventSignUpFormWidget {
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;

  form {
    background-color: #fff;
    padding: 10px;
  }
  .block {
    display: block;
  }
  .bold {
    font-weight: bold;
  }
}
