@import "src/assets/stylesheets/variables";

.TargetingWidget {
  background-color: #666;
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;
  .score, .gender {
    color: #aaa;
    font-size: 300%;
    line-height: 100%;
  }
}
